<header class="header">
  <div class="header__img">
    <a href="/">
      <img src="{{ site.baseurl }}/img/noel.jpg" alt="Noel O'Connell">
    </a>
  </div>
  <div class="header__bio">
    <p>
      CTO/Fullstack Developer at <a href="https://hirehive.com/">HireHive.com</a>. JavaScript, Angular, NativeScript, Azure, Signalr, C#, WebApi, VueJS, .net core.
    </p>
  </div>
  <div class="header__follow">
    <a href="https://twitter.com/noel_o_c" class="twitter-follow-button" data-show-count="true"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</header>
<nav class="nav">
  <ul>
    <li>
      <a href="/">Posts</a>
    </li>    
  </ul>
</nav>
